# Ignore .vs folders
Camera_test/.vs/

# Ignore extra background audios & misc images
8 Bit Power! Inspiring Upbeat Game Music by HeatleyBros.wav
GlitchxCity - The XX Year Journey (Pokemon Remix) (Non Copyrighted).wav

*.jpg
MapTestNew.txt

# Ignore misc folders
blind_maze_src/
Misc_files/
glew_freeglut/
Project1/